* {
    font-family: Roboto, sans-serif;
}

#container1, #container5 {
    background-color: #1F2937;
}

#container1 p, a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

#container1 p#logo {
    margin-top: 10px;
    font-size: 24px;
    color: #F9FAF8;

}

#container1 .row1, .row2 {
    display: flex;
    gap: 20;
    justify-content: space-between;
    padding: 0em 10em 5em 10em;
    

}

#container1 .row1 .col1 {
    display: flex;
    justify-content: flex-start;
    
    /* flex-basis: 30%; */
}

#container1 .row1 .col2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    /* flex-basis: 30%; */
}

#container1 .row2 {
    display: flex;
    gap: 4rem;

}

#container1 .row2 .col1 {
    flex-basis: 40%;
}

#container1 .row2 .col2 {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
}

#container1 .row2 #hero {
   font-size: 48px;
   color: #F9FAF8;
   font-weight: 900;
   margin: 0px;
}

#container1 .row2 .col1 .secondary_text {
    margin: 0;
    margin-bottom: 0.5rem;
}

#container1 button {
    background-color: #3882F6;
    border-radius: 5px;
    color: #ffff;
    font-size: 18px;
    font-weight: bolder;
    width: 35%;
    border: none;
}


#container2 .row1 {
    display: flex;
    justify-content: center;
}

#container2 .row2 {
    display: flex;
    justify-content: center;
    gap: 50px;
}

#container2 .row1 p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

img {
    width: 100%;
    height: auto;
    border: 5px solid #3882F6;
    border-radius: 50%;
}

#container2 .row2 p {
    margin: 0px;
    font-size: 18px;
    opacity: .7;
    text-align: justify;
}

#container3 {
    background-color: #E5E7EB;
}

#container3 .row1 {
    display: flex;
    justify-content: center;
    padding-top: 10%;
    
}

#container3 .row2 {
    display: flex;
    justify-content: center;
    padding: 0;
    padding-bottom: 8%;
}

#container3 .row1 .col1, #container3 .row2 .col1 {
    flex-basis: 62%;
}

#container3 .row2 .col1 {
    display: flex;
    justify-content: flex-end;
}

#container3 .row1 p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937
    
}

#container3 .row2 p {
    margin: 0px;
    font-size: 24px;
    font-weight: bold;
}

#container4 {
    
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .box {
    flex-basis: 70%;
    height: 20vh;
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.box p {
    margin: 0;
    color: rgb(255, 255, 255);

}

.box p#first_paragraph {
    font-size: 20px;
    font-weight: bold;
}

.box p#second_paragraph {
    color: #E5E7EB
}

.box button {
    background-color: #3882F6;
    border-radius: 7px;
    color: #ffff;
    font-size: 18px;
    font-weight: bold;
    width: 120%;
    border: 2px solid white;
    padding: .25em 1em;
}


